* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #363636;
}

.main {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background: rgb(224, 224, 224);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world-time-page {
  width: 100%;
  height: 100%;
}
.world-time-page__time-container {
  margin-top: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 57px;
}
.world-time-page__time {
  color: #363636;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.world-time-page__time-subtitle {
  color: #363636;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.world-time-page__time-magazine {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.world-time-page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 19px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.world-time-page__button1 {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: white;
  margin-right: 30px;
  cursor: pointer;
}
.world-time-page__button1:hover {
  background: silver;
}
.world-time-page__cross-line {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4px;
  width: 30px;
  background: gray;
  border-radius: 10px;
}
.world-time-page__cross-line::after {
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  content: "";
  height: 4px;
  width: 30px;
  background: gray;
  border-radius: 10px;
}
.world-time-page__button2 {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}
.world-time-page__button2:hover {
  background: silver;
}
.world-time-page__btn-circle {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: gray;
  border-radius: 10px;
}
.world-time-page__btn-circle::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 14px;
  background: gray;
  border-radius: 10px;
}
.world-time-page__btn-circle::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  background: gray;
  border-radius: 10px;
}
.world-time-page__zones {
  height: 510px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.world-time-page__zones-settings {
  width: 900px;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: silver;
  border-radius: 30px;
  padding: 10px;
}
.world-time-page__zones-settings-title {
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363636;
  margin-bottom: 20px;
}
.world-time-page__zones-settings-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363636;
}
.world-time-page__zones-settings-list1 {
  min-width: 140px;
  margin-right: 50px;
}
.world-time-page__zones-settings-list2 {
  min-width: 140px;
  margin-right: 50px;
}
.world-time-page__zones-settings-list3 {
  min-width: 140px;
}
.world-time-page__zones-settings-city-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.world-time-page__zones-settings-checkbox {
  width: 25px;
  height: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}
.world-time-page__zones-settings-city {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.world-time-page__zones-settings__button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.world-time-page__zones-settings-confirm-button {
  width: 180px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 20px;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363636;
  cursor: pointer;
  margin-right: 30px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zone {
  width: 900px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 36px;
}
.zone__info {
  color: #363636;
}
.zone__city {
  font-size: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.zone__time-zone {
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.zone__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.zone:last-child {
  margin-bottom: 0;
}

.settings-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings-page__back-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 50px;
  cursor: pointer;
}
.settings-page__back-arrow {
  width: 20px;
  height: 30px;
}
.settings-page__title {
  font-size: 64px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}
.settings-page__settings {
  width: 1000px;
  height: 350px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}

.setting {
  width: 800px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  background: silver;
  margin-bottom: 20px;
}
.setting__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363636;
}
.setting__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.setting__selection {
  width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: white;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.setting:last-child {
  margin-bottom: 0px;
}

.switch {
  position: relative;
  width: 90px;
  height: 45px;
}

.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.switch__slider {
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch__switcher {
  position: absolute;
  left: 4px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.switch__slider .switch__switcher + .switch__input:focus {
  -webkit-box-shadow: 0 0 1px rgb(57, 57, 235);
          box-shadow: 0 0 1px rgb(57, 57, 235);
}

.switch__input:checked + .switch__slider {
  background-color: rgb(57, 57, 235);
}

.switch__input:checked + .switch__slider .switch__switcher {
  -webkit-transform: translateX(42px);
          transform: translateX(42px);
}

.stopwatch-page {
  width: 100%;
  height: 100%;
}
.stopwatch-page__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  color: #363636;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120px;
  margin-top: 90px;
}
.stopwatch-page__display-circle-time {
  opacity: 0;
  color: #363636;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.stopwatch-page__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stopwatch-page__button {
  height: 95px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: #363636;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 20px;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.stopwatch-page__button:hover {
  background: silver;
}
.stopwatch-page__button:last-child {
  margin-right: 0;
}

.intervals {
  visibility: hidden;
  height: 470px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 50px;
}
.intervals__interval {
  opacity: 0;
  width: 900px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: white;
  border-radius: 20px;
  margin-bottom: 19px;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
.intervals__circle {
  color: #363636;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.intervals__circle-time {
  color: #363636;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.intervals__total-time {
  color: #363636;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.interval-visible {
  opacity: 1;
}

.visible {
  visibility: visible;
}

.timer-page {
  width: 100%;
  height: 100%;
}
.timer-page__timer {
  font-size: 144px;
  line-height: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363636;
  margin-top: 250px;
  margin-bottom: 40px;
}
.timer-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}
.timer-page__button {
  width: 200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363636;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin-right: 50px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.timer-page__button:last-child {
  margin-right: 0;
}
.timer-page__button:hover {
  background: silver;
}
.timer-page__timer-control-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timer-page__start-button {
  width: 620px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin-right: 10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.timer-page__start-button:hover {
  background: silver;
}
.timer-page__svg-triangle {
  display: block;
}
.timer-page__svg-pause {
  display: none;
}
.timer-page__reset-button {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.timer-page__reset-button:hover {
  background: silver;
}
.timer-page_reset-svg {
  display: block;
}

.timer-finish {
  background: green;
}

.nav {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  width: 1920px;
  min-height: 100px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__button {
  width: 300px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.4);
  color: #363636;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  margin-right: 30px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.nav__button:last-child {
  margin-right: 0;
}

@media screen and (max-height: 1000px) {
  .world-time-page__time-container {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .world-time-page__buttons {
    margin-bottom: 15px;
  }
  .world-time-page__button1 {
    width: 60px;
    height: 60px;
  }
  .world-time-page__button2 {
    width: 60px;
    height: 60px;
  }
  .world-time-page__zones-settings-title {
    font-size: 26px;
  }
  .world-time-page__zones-settings-list {
    font-size: 16px;
  }
  .world-time-page__zones-settings-list1 {
    min-width: 140px;
    margin-right: 50px;
  }
  .world-time-page__zones-settings-list2 {
    min-width: 140px;
    margin-right: 50px;
  }
  .world-time-page__zones-settings-list3 {
    min-width: 140px;
  }
  .world-time-page__zones-settings-checkbox {
    width: 25px;
    height: 25px;
  }
  .world-time-page__zones-settings-city {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .world-time-page__zones-settings__button-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .world-time-page__zones-settings-confirm-button {
    width: 100px;
    height: 50px;
    margin-right: 30px;
    font-size: 24px;
  }
  .world-time-page__zones {
    height: 340px;
  }
  .stopwatch-page__time {
    font-size: 100px;
    margin-top: 10px;
  }
  .stopwatch-page__display-circle-time {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .stopwatch-page__button {
    height: 80px;
    width: 220px;
    font-size: 30px;
  }
  .intervals {
    height: 350px;
    margin-bottom: 10px;
  }
  .zone {
    height: 100px;
  }
  .timer-page__timer {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .nav {
    min-height: 60px;
  }
  .nav__button {
    height: 50px;
  }
}
@media (max-width: 768px) {
  .world-time-page__time {
    font-size: 60px;
  }
  .world-time-page__time-subtitle {
    font-size: 24px;
  }
  .world-time-page__time-container {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .world-time-page__time-magazine {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .world-time-page__buttons {
    width: 100%;
    margin-bottom: 15px;
  }
  .world-time-page__button1 {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .world-time-page__button2 {
    width: 50px;
    height: 50px;
  }
  .world-time-page__zones-settings {
    width: 100%;
  }
  .world-time-page__zones-settings-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .world-time-page__zones-settings-list {
    font-size: 16px;
  }
  .world-time-page__zones-settings-list1 {
    min-width: 100px;
    margin-right: 20px;
  }
  .world-time-page__zones-settings-list2 {
    min-width: 100px;
    margin-right: 20px;
  }
  .world-time-page__zones-settings-list3 {
    min-width: 100px;
  }
  .world-time-page__zones-settings-city-container {
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .world-time-page__zones-settings-checkbox {
    width: 20px;
    height: 20px;
  }
  .world-time-page__zones-settings-city {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .world-time-page__zones-settings__button-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .world-time-page__zones-settings-confirm-button {
    width: 100px;
    height: 50px;
    margin-right: 30px;
    font-size: 24px;
  }
  .world-time-page__zones {
    height: 340px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .zone {
    width: 100%;
    height: 100px;
    padding: 20px;
  }
  .zone__city {
    font-size: 24px;
  }
  .zone__time-zone {
    font-size: 16px;
  }
  .zone__time {
    font-size: 32px;
  }
  .stopwatch-page__time {
    font-size: 60px;
    margin-top: 60px;
    height: auto;
  }
  .stopwatch-page__display-circle-time {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .stopwatch-page__button {
    height: 60px;
    width: 125px;
    font-size: 14px;
    margin-right: 5px;
    border-radius: 20px;
  }
  .intervals {
    width: 380px;
    height: 340px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intervals__interval {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .intervals__circle {
    width: 50px;
    text-align: center;
    font-size: 14px;
  }
  .intervals__circle-time {
    width: 100px;
    text-align: center;
    font-size: 14px;
  }
  .intervals__total-time {
    width: 100px;
    text-align: center;
    font-size: 14px;
  }
  .timer-page__timer {
    font-size: 80px;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  .timer-page__button {
    width: 124px;
    height: 70px;
    margin-right: 10px;
  }
  .timer-page__start-button {
    width: 290px;
    height: 80px;
    margin-right: 4px;
  }
  .timer-page__reset-button {
    width: 80px;
    height: 80px;
  }
  .nav {
    width: 100%;
    height: 60px;
  }
  .nav__button {
    width: 127px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    line-height: 18px;
    margin-right: 4px;
    border-radius: 15px;
  }
  .nav__button:last-child {
    margin-right: 0;
  }
  .settings-page__back-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .settings-page__title {
    font-size: 36px;
  }
  .settings-page__settings {
    width: 380px;
  }
  .setting {
    width: 95%;
    height: 60px;
  }
  .setting__text {
    font-size: 20px;
  }
  .setting__selection {
    width: 120px;
    height: 50px;
    font-size: 20px;
  }
  .switch {
    position: relative;
    width: 70px;
    height: 35px;
  }
  .switch__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  .switch__slider {
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .switch__switcher {
    position: absolute;
    left: 4px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
  }
  .switch__slider .switch__switcher + .switch__input:focus {
    -webkit-box-shadow: 0 0 1px rgb(57, 57, 235);
            box-shadow: 0 0 1px rgb(57, 57, 235);
  }
  .switch__input:checked + .switch__slider {
    background-color: rgb(57, 57, 235);
  }
  .switch__input:checked + .switch__slider .switch__switcher {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
}
.hidden {
  display: none;
}

.active-nav-btn {
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  background: silver;
}

.hidden-nav {
  display: none;
}

.dark-theme-text {
  color: whitesmoke;
}

.dark-theme-block {
  background-color: black;
  color: whitesmoke;
}

#text {
  text-align: right;
}